@media (max-width: 992px) {

    .contenedor-dls {

        grid-template:
        "header"     6rem
        "contenido"      auto
        "footer"         4rem
        ;

    }

    .header-dls {

        flex-direction: column;
        justify-content: center;

    }

}

@media (max-width: 768px) {

    .menu a.activo li p, .menu a li ion-icon, .menu a li p.login {

       display: none;

    }
    
    .menu a.activo li ion-icon, .menu a li ion-icon.login {
        display: block;
        padding: 0 !important;
    }
    
}

@media (max-width: 576px){

    .contenedor-dls {

        grid-template:
        "header"     4rem
        "contenido"      auto
        "footer"         4rem
        ;

    }

    .header-dls{

        flex-direction: row;
        justify-content: space-between;
        padding-right: 12px;
        border-radius: 0;

    }

    .menu {
        flex-direction: column;
        align-items: center !important;
        margin: 0%;
        background-color: #4682ca;
        position: fixed;
        left: 0%;
        top: -60%;
        width: 100%;
        padding: 0;
        border-radius: 0 0 20px 20px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
        transition: top 0.4s;

    }

    .menu li i {
        font-size: x-large;
    }

    .menu a {
        font-size: large;
        margin: 5px 0 !important;

    }

    .toggle {
        display: block;
        font-size: x-large;
    }

    .menu_visible {
        top: 4rem;

        height: calc(100% - 4rem);
        overflow-y: auto;

    }

}
