/* -----ARTICULOS----- */

.articulos article {

    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.3);
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;

}

.articulos article h2, .articulos article p, .articulos article ul {
    margin: 1rem;
    list-style-position: inside;
}

.post-titulo {

    font-weight: bolder;
    text-align: center;

}

/* -----AGENDA-CONSULTA----- */
.articulos .age-cons {

    background-color: #c8f4ff;
    padding: 20px;
    align-items: center !important;
    align-content: center !important;
    text-align: center;

}

.articulos .age-cons h1 {

    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;

}

.articulos .age-cons p {

    font-size:x-large;

}

.articulos .age-cons .buttons {

    margin-top: 3rem;


} 

.articulos .age-cons .buttons button {

    margin: 1rem;
    background-color: #6fafff;
    border-color: rgb(255, 255, 255);
    border-radius: 50px;
    font-size: x-large !important;
    font-weight: bolder;
    padding: 1rem;
    color: white;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.3);

}


