.formulario-citas {

    background-color: #dfeeff;
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);

}

.formulario-citas h1 {

    text-align: center;
    font-size: x-large;

}

.formulario-citas label {

    display: block;
    font-size: large;
    font-weight: bolder;
    margin-bottom: 10px;

}

.formulario-citas input, textarea, select {

    width: 100%;
    font-size: larger;
    font-style: italic;
    color: #606060;
    margin-bottom: 10px;
    padding: 10px;

    border-radius: 50px;
    border-color: #6fafff;
    border-style: ridge;
    border-width: 2px;

}

.botones {

    display: flex;
    text-align: center;
    justify-content: center;

}

.botones button {

    font-size: larger;
    font-weight: bolder;
    padding: 10px;
    margin: 0 10px 0 10px;
    
    border-radius: 50px;
    border-color: #6fafff;
    background-color: #fff;

    transition: all 0.3s;

}

.botones button:hover {

    cursor: pointer;

    background-color: #6fafff;
    border-color: #fff;
    color: #fff;

}
